 .u-section-1 {
  background-image: url("../images/1066c209-1e14-e408-277e-cf16126bb91c.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 613px;
}

.u-section-1 .u-text-1 {
  font-size: 6.25rem;
  margin: 86px 227px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  font-family: IRANSansWeb;
  margin: 27px 72px 0 558px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 54px 161px 0 auto;
  padding: 10px 26px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px 324px 60px auto;
  padding: 9px 30px 11px 29px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 505px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 430px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 173px;
    margin-right: 121px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -111px;
    margin-right: 124px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 107px;
    margin-right: 187px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 34px;
    margin-right: 20px;
    margin-left: 243px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-right: 249px;
    padding-right: 31px;
    padding-left: 30px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -45px;
    margin-right: 90px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 140px;
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 83px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 69px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 14.77% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 89px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 48px;
    margin-left: 96px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 111px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -97px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 450px;
}

.u-section-2 .u-text-1 {
  width: 361px;
  font-family: IRANSansWeb;
  margin: 52px auto 0;
}

.u-section-2 .u-gallery-1 {
  margin-top: 30px;
  margin-bottom: 59px;
  height: 247px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
}

.u-section-2 .u-gallery-item-1 {
  margin-right: 5px;
  --effect-scale: 0.25;
}

.u-section-2 .u-back-image-1 {
  width: 375px;
  object-position: 50% 23.56%;
}

.u-section-2 .u-over-slide-1 {
  padding: 20px;
}

.u-section-2 .u-gallery-item-2 {
  margin-right: 5px;
  --effect-scale: 0.25;
}

.u-section-2 .u-back-image-2 {
  width: 375px;
  object-position: 50% 62.19%;
}

.u-section-2 .u-over-slide-2 {
  padding: 20px;
}

.u-section-2 .u-gallery-item-3 {
  margin-right: 5px;
  --effect-scale: 0.25;
}

.u-section-2 .u-back-image-3 {
  width: 375px;
  object-position: 50% 64.31%;
}

.u-section-2 .u-over-slide-3 {
  padding: 20px;
}

.u-section-2 .u-gallery-item-4 {
  margin-right: 5px;
  --effect-scale: 0.25;
}

.u-section-2 .u-back-image-4 {
  width: 375px;
  object-position: 0% 44.64%;
}

.u-section-2 .u-over-slide-4 {
  padding: 20px;
}

.u-section-2 .u-gallery-item-5 {
  margin-right: 5px;
  --effect-scale: 0.25;
}

.u-section-2 .u-back-image-5 {
  width: 375px;
  object-position: 50% 29.03%;
}

.u-section-2 .u-over-slide-5 {
  padding: 20px;
}

.u-section-2 .u-gallery-item-6 {
  margin-right: 5px;
  --effect-scale: 0.25;
}

.u-section-2 .u-back-image-6 {
  width: 375px;
}

.u-section-2 .u-over-slide-6 {
  padding: 20px;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 12px;
  width: 40px;
  height: 40px;
  background-image: none;
  top: 104px;
  padding: 6px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: none;
  left: auto;
  top: 104px;
  right: 12px;
  padding: 6px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 461px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 73px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-gallery-1 {
    margin-bottom: 60px;
    height: 212px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 90px;
    margin-left: 0;
    margin-right: 0;
  }
}@font-face {
  font-family: 'IRANSansWeb';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/IRANSansWeb.ttf);
}