 .u-section-1 {
  background-image: url("images/da91c4b2-c3d3-fe30-194a-fbc47211aa56.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 745px;
}

.u-section-1 .u-form-1 {
  height: 318px;
  background-image: none;
  margin: 217px 52px 0 488px;
}

.u-section-1 .u-input-1 {
  font-size: 1.125rem;
  font-family: IRANSansWeb;
  text-align: right;
}

.u-section-1 .u-input-2 {
  font-size: 1.125rem;
  font-family: IRANSansWeb;
  text-align: right;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  font-size: 1.125rem;
  font-family: IRANSansWeb;
  background-image: none;
  padding: 10px 0;
}

.u-section-1 .u-text-1 {
  font-family: IRANSansWeb;
  margin: -46px 308px 0 auto;
}

.u-section-1 .u-text-2 {
  font-family: IRANSansWeb;
  margin: 52px 226px 60px auto;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 340px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-1 .u-form-1 {
    height: 376px;
    margin-right: 52px;
    margin-left: 278px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 236px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 29px;
    margin-right: 129px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 150px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 177px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 337px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 111px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 81px;
  }
}@font-face {
  font-family: 'IRANSansWeb';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/IRANSansWeb.ttf);
}